<html>
    <head>
        <title> Generate Shakespeare Sonnets </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
        <link rel="shortcut icon" href="#">
    </head>
    <script type=text/javascript>
        $(function() {
          $('a#generate').bind('click', function() {

        $.ajax({
        url: '/return_response',
        type: 'POST',
        success: function(response){
        console.log(response);
        },
        error: function(error){
        console.log(error);
        }
        });
        $.ajax({
          dataType: "json",
          url: '/initiate_generate_sonnets',
          success: function(data) {
            $('#sonnet_textarea').text(data.sonnet);
          },

          error: function(error) {
            console.log(error);
            console.log("Error in fetching sonnet. Retrying");
            $('#generate')[0].click();
          }

        });
        
        $('#sonnet_textarea').attr('placeholder','Writing a special sonnet just for you');
            return false;
          });
        });

    </script>
    <body>
        <div id='display'>
            <h3 id='top'>Click the button to Generate a Shakespeare Sonnet</h3>
            <form action="{{ url_for('initiate_generate_sonnets') }}" method="post" >
                <a href=# id=generate><button id='generate_button'>Generate Sonnets!</button></a>
                <br>
                <br>
                <textarea id="sonnet_textarea" placeholder="Generated Sonnet will appear here" rows="10" cols="100"></textarea>
            </form>
        </div>
        <footer>
            <div class="social_media">
                <a href="https://linkedin.com/in/premnagdeo" target="_blank"> <i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/premnagdeo" target="_blank"> <i class="fa fa-github"></i></a>
                <a href="https://www.codechef.com/users/premnagdeo" target="_blank"> <i class="iconify" data-icon="simple-icons:codechef" data-inline="false"></i></a>
                <a href="https://leetcode.com/premnagdeo/" target="_blank"> <i class="iconify" data-icon="simple-icons:leetcode" data-inline="false"></i></a>
                <a href="https://www.hackerrank.com/premnagdeo" target="_blank"> <i class="fab fa-hackerrank"></i></a>
                <a href="mailto:premnagdeo@gmail.com" target="_blank"> <i class="fa fa-envelope"></i></a>
            </div>
            <span>Made with <span class="heart">❤️</span> by <a href="https://www.linkedin.com/in/premnagdeo/" target="_blank" class="footer_name">Prem Nagdeo</a>
            </span>
        </footer>
        <script src="https://kit.fontawesome.com/5e6b5ddfea.js" crossorigin="anonymous"></script>
        <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    </body>
</html>
